@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .services-box-shadow {
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.623);
  }
  .inner-shadow {
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
  }
  .contact-card-shadow {
    box-shadow: 0 0 25px 5px rgba(112, 47, 210, 0.9);
  }
}

@layer components {
  .text-header {
    @apply text-5xl sm:text-6xl lg:text-7xl font-syne font-bold mt-0 md:mt-10 text-primary/30 inner-shadow uppercase;
  }
  .contact-card {
    @apply w-full max-w-4xl mx-auto bg-background-darker flex flex-col md:grid md:grid-cols-2 gap-2 contact-card-shadow relative p-10 rounded-md border border-[#702FD2] overflow-hidden;
  }
}

@layer base {
  :root {
    --background: 244 31% 10%;
    --background-darker: 197 24% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 284 97% 46%;
    --primary-foreground: 0 0% 9%;
    --secondary: 25 97% 49%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 53 80% 80%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 244 31% 10%;
    --background-darker: 197 24% 9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 284 97% 46%;
    --primary-foreground: 0 0% 9%;
    --secondary: 25 97% 49%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 53 80% 80%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
